<h2>Creating a new article.</h2>

<% if @article.errors.any?%>
<h3>Your article didn't save because of the following:</h3>
<ul>
    <%@article.errors.full_messages.each do |err|%>
        <li><%=err%></li>
    <%end%>
</ul>
<%end%>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
<p>
    <%= f.label :title%>
    <%= f.text_field :title%>
</p>

<p>
    <%= f.label :description%>
    <%= f.text_area :description%>
</p>

<p>
    <%= f.submit "Create Article"%>
</p>
<% end %>

<p><%= link_to 'Go Back', articles_path %></p>